---
title: "Data Merging Techniques"
author: "GSB 510 Group 4"
date: "03-02-2025"
format: 
  html:
    toc: true
    code-fold: true
    theme: minty
    code-line-numbers: true
    code-tools: true
    self-contained: true
execute:
  message: false
  warning: false
---

In [4]:
import pandas as pd

# Load datasets
airbnb_df = pd.read_csv(
    r"C:\Users\isabe\PycharmProjects\GSB-520-ETL\Clean Data\cleaned_airbnb_data.csv")
tourism_df = pd.read_csv(
    r"C:\Users\isabe\PycharmProjects\GSB-520-ETL\Clean Data\tourism_cleaned.csv")
zillow_df = pd.read_csv(
    r"C:\Users\isabe\PycharmProjects\GSB-520-ETL\Clean Data\zillow_cleaned.csv")

# Extract Year from dates
airbnb_df["Year"] = pd.to_datetime(airbnb_df["Date Last Review"]).dt.year
zillow_df["Year"] = pd.to_datetime(zillow_df["Date"]).dt.year

# Aggregate Airbnb data by City + Year
airbnb_agg = airbnb_df.groupby(["City", "Year"]).agg({
    "Room Price": "mean",
    "Number of reviews": "sum",
    "Availibility": "mean"
}).reset_index()

# Rename columns for clarity
airbnb_agg.rename(columns={
    "Room Price": "Avg_Room_Price",
    "Number of reviews": "Total_Reviews",
    "Availibility": "Avg_Availability"
}, inplace=True)

# Aggregate Zillow data by City + Year
zillow_agg = zillow_df.groupby(["City", "State", "Year"]).agg({
    "New_Renter_Affordability": ["mean", "min", "max"]
}).reset_index()
zillow_agg.columns = ["City", "State", "Year", "Avg_Affordability", "Min_Affordability", "Max_Affordability"]

# Merge Airbnb & Tourism (Outer Join)
airbnb_tourism_merged = pd.merge(airbnb_agg, tourism_df, on="City", how="outer")

# Merge with Zillow (Outer Join on City, State, Year)
final_merged_df = pd.merge(airbnb_tourism_merged, zillow_agg, on=["City", "State", "Year"], how="outer")

KeyError: 'Date Last Review'

In [2]:
final_merged_df

,City,Year,Avg_Room_Price,Total_Reviews,Avg_Availability,Rank,Attraction,Popularity,Experience,Affordability,Safety,Total,State,Avg_Affordability,Min_Affordability,Max_Affordability
0,Abilene,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TX,0.208280,0.205887,0.210246
1,Abilene,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TX,0.202087,0.199314,0.205089
2,Abilene,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TX,0.208426,0.203997,0.210855
3,Abilene,2018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TX,0.206847,0.204788,0.208447
4,Abilene,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TX,0.211407,0.208430,0.213922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4377,Yuma,2021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AZ,0.293509,0.268778,0.320923
4378,Yuma,2022.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AZ,0.268990,0.262147,0.273867
4379,Yuma,2023.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AZ,0.261379,0.256898,0.266441
4380,Yuma,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AZ,0.257969,0.255677,0.261098
4381,Yuma,2025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AZ,0.260232,0.260232,0.260232

In [3]:
# Save the cleaned dataset for Tableau
final_merged_df.to_csv(
    r"C:\Users\isabe\PycharmProjects\GSB-520-ETL\Clean Data\final_merge_for_tableau.csv", index=False)